body {
    background-color: hsl(30, 54%, 90%);
}

main {
    width: 720px;
    background-color: whitesmoke;
    border: 1px solid white;
    border-radius: 10px;
    margin: 50px auto;
}

img {
    width: 630px;
    border-radius: 10px;
    margin: 30px auto;
}

h1 {
    text-align: center;
}