* {
    box-sizing: border-box;
}

body {
    background-color: hsl(30, 54%, 90%);
}

main {
    width: 720px;
    background-color: whitesmoke;
    border: 1px solid white;
    border-radius: 25px;
    margin: 50px auto;
}

img {
    width: 650px;
    border-radius: 15px;
    margin: 40px auto;
    display: block;
}

h1 {
    margin-left: 35px;
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    color: hsl(24, 5%, 18%);
}

p {
    padding-left: 35px;
    padding-right: 35px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: hsl(30, 10%, 34%);
}

.prep-time {
    width: 650px;
    border-radius: 15px;
    margin: 30px auto;
    background-color: hsl(330, 100%, 98%);
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: hsl(30, 10%, 34%);
}

.prep-time h2 {
    color: hsl(332, 51%, 32%);
    font-size: 1.25rem;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.prep-time span {
    padding-left: 25px;
    color: hsl(30, 10%, 34%);
    font-weight: 600;
}

.prep-time li {
    margin-bottom: 15px;
}

h2 {
    margin-left: 35px;
    font-family: "Young Serif", serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    color: hsl(14, 45%, 36%);
}

.ingredients {
    margin-left: 30px;
    border-bottom: 1px solid hsl(30, 10%, 34%);
    padding: 0 35px;
}

.instructions {
    margin-left: 30px;
}

.nutrition {
    margin-left: 30px;
    margin-bottom: 40px;
}

.ingredients li {
    color: hsl(30, 10%, 34%);
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-bottom: 15px;
    padding-left: 15px;
}

.instructions li {
    color: hsl(30, 10%, 34%);
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.instructions span {
   color: hsl(30, 10%, 34%);
   font-weight: 600; 
}


table {
  width: 100%;
}

tbody {
    width: 100%;
    margin: 0 35px;
}

td {
   color: hsl(30, 10%, 34%);
   font-family: "Outfit", sans-serif;
   font-optical-sizing: auto;
   font-style: normal;
   width: 50%;
   padding: 15px 0;
   border: 1px solid red;
}

tr span {
    color: hsl(14, 45%, 36%);
    font-weight: 600;  
    margin-left: 300px;
    text-align: left;
}

th {
    color: hsl(30, 10%, 34%);
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    width: 50%;
    margin-left: 30px;
    padding: 15px 0;
    border: 1px solid red;
}

caption {
    color: hsl(30, 10%, 34%);
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding: 40px auto;
}

tr[class="border"] {
    border-bottom: 1px solid hsl(30, 10%, 34%);
}