body {
    background-color: hsl(30, 54%, 90%);
}

main {
    width: 720px;
    background-color: black;
    border: 1px solid white;
    border-radius: 30px;
    margin: 50px auto;
}

img {
    width: 630px;
    border-radius: 20px;
    margin-top: 20px;
    text-align: center;
}

h1 {
    text-align: center;
}